{% extends 'flatpages/default.html' %}
<div class="col-lg-12 text-center">
{% block title %}
{{ flatpage.title }}
{% endblock title %}
</div>


{% block content %}
    <div class="col-lg-12 text-start">
    <h1>Новости</h1>
        <form action="search">
    <button>Поиск</button>
</form>
    <hr>
    {% if news %}
       <div class="col-lg-12 text-center">
       <table class="col-lg-12 text-center"> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   Действия
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   Заголовок
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   Дата публикации
               </td>
               <td>
                   Категории
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   Превью
               </td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->
           {% for post in news %}
           <tr>
               <td>
                   <a href="{% url 'post_update' post.id %}"><u>edit</u></a>
                   <a href="{% url 'post_delete' post.id %}"><u> del </u></a>
               </td>
               <td>
                   <a href="{% url 'post_detail' post.id %}">{{ post.self_name }}</a>
               </td>
               <td>
                   {{ post.date_time|date:'d m Y' }}
               </td>
               <td>
                   {% for cats in post.m_to_m_cat.all %}
                   <a href="{% url 'catlist' cats.id %}"><u>{{ cats }}</u></a>
                   {% endfor %}
               </td>
               <td>
                   {{ post.preview }}
               </td>
           </tr>
           {% endfor %}
       </table> <!-- ... и таблицы -->
       </div>
    {% else %}
        <h2>Нет новостей</h2>
    {% endif %}
    </div>


<div class="col-lg-12 text-center">
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-secondary btn-sn">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-secondary btn-sn"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-outline-secondary btn-sn">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}            <a href="?page={{ num }}" class="btn btn-outline-secondary btn-sn">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-secondary btn-sn">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-secondary btn-sn">Last</a>
    {% endif %}

{% endif %}
    </div>

{% endblock content %}
