{% extends 'flatpages/default.html' %}

{% load custom_filter %}

{% block title %}
    {{ post.name }} | {{ post.author.user }}
{% endblock title %}

{% block content %}
    <div class="col-lg-12 text-center">
    <table class="col-lg-12 text-center">
        <tr>
            <td>
                <h1>{{ post.name }}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Автор: {{ post.author.user }}</h5>
            </td>
            <td>
                <h5>Рейтинг: {{ post.rating }}</h5>
            </td>
            <td>
                <h5>Дата: {{ post.date_time|date:'M d Y' }}</h5>
            </td>
        </tr>
    </table>
    </div>
    <hr>
    {{ post.text|text }}

<form action="/news">
    <button>На главную</button>
</form>

{% endblock content %}