{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h1>Удалить статью?</h1>
    <hr>
       <div class="col-lg-12 text-center">
       <table class="col-lg-12 text-center">
           <thead>
           <tr>
               <td>
                   Заголовок
               </td>
               <td>
                   Дата публикации
               </td>
               <td>
                   Превью
               </td>
           </tr>
           </thead>
           <tr>
               <td>
                   {{ post.self_name }}
               </td>
               <td>
                   {{ post.date_time|date:'d m Y' }}
               </td>
               <td>
                   {{ post.preview }}
               </td>
           </tr>
       </table> <!-- ... и таблицы -->
        </div>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}
