{% extends 'flatpages/default.html' %}

{% load custom_filter %}

{% block title %}
    {{ post.name }} | {{ post.author.user }}
{% endblock title %}

{% block content %}
    <center>
    <table>
        <tr>
            <td>
                <h1>{{ post.name }}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Автор: {{ post.author }}</h2>
            </td>
            <td>
                <h2>Рейтинг: {{ post.rating }}</h2>
            </td>
            <td>
                <h2>Дата: {{ post.date_time|date:'M d Y' }}</h2>
            </td>
        </tr>
    </table>
        </center>
    {{ post.text|text }}
{% endblock content %}